@import 'src/styles/colors';

.header-footer-base {
  display: flex;
  width: 100%;
  padding: 0px 20px;
  background: $primary-color;
}
.dropdown-avatar {
  margin-top: 10px;
  min-width: 300px;
  .user-name {
    padding: 10px 0px;
    border-bottom: 1px solid #cdc1d6;
    .display-name {
      display: flex;
      flex: 1;
      align-items: center;
      .user-icon {
        margin-right: 10px;
      }
    }
  }
}
.app-layout {
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: #ffffff;

  .icon-home {
    font-size: 30px;
    color: white;
    background-color: #42a5f5;
    padding: 5px;
    border-radius: 5px;
  }
  .ant-layout-header {
    @extend .header-footer-base;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .header-name {
      flex: 1;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 25px;
      font-weight: bold;
    }
    .search {
      width: 200px;
      margin-left: 5px;
      border-radius: 5px;
    }

    .avatar-user:hover {
      cursor: pointer;
    }
    .avatar-user {
      background: #87d068;
    }
  }
  .ant-layout-content {
    width: 100%;
    max-width: 1200px;
  }
  .ant-layout-footer {
    @extend .header-footer-base;
  }
}
